<IfModule mod_rewrite.c>
  Order deny,allow
  Deny from all
  Allow from 136.169.173.167
  Allow from 185.65.105.205
  Allow from 213.208.164.214
  Allow from 37.157.235.86
  Allow from 185.49.109.238

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]


</IfModule>
